:root {
	--title-font: "Black Ops One", system-ui;
	--thin-font: "Quantico", sans-serif;
	--medium-font-size: clamp(1rem, 0.18rem + 5.3vw, 2.8rem);
	--white: #ececec;
	--black: #121212cc;
	--red: hsl(345deg 100% 32.24% / 85%);
	--black-accent: #000000dd;
	--header-color: hsl(345, 49%, 16%);
	--btn-color: hsl(345, 49%, 20%);
	--black-text-shadow:
		.75px .75px .25px #333,
		0.1px -0.1px 0 #333,
		-0.1px 0.1px 0 #333,
		-0.1px -0.1px 0 #333;
	--borders: 1.5px solid var(--header-color);
}

/* =============================
		LAYOUT
	============================== */

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0.3rem;
	padding: 2.5dvh 1rem;
	background-color: rgb(77, 153, 107);
	background: url('images/table.png') no-repeat center / cover;
}

header,
main,
footer {
	width: min(100%, 900px);
}

header {
	display: flex;
	flex-direction: column;
	gap: .7em 2.3vw;
}

main {
	/* ensures main takes up the all the remaining space between header and footer */
	flex: 1 1;
	font-size: var(--medium-font-size);
	height: 40vh;
	justify-items: center;
}

/* =============================
		TYPOGRAPHY
		============================== */

p,
h1,
h2,
.btn {
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-family: var(--title-font);
	font-size: clamp(1.5rem, -0.2rem + 33.5vw, 13em);
	text-align: center;
	margin: 0 0 -0.02em 0;
	/* compensates for massive space under letters */
}

h1,
p.subheading {
	font-weight: 400;
	color: var(--header-color);
	line-height: .725;
}

p.subheading {
	font-family: var(--thin-font);
	font-size: clamp(1rem, 9.3vw, 3.3em);
	letter-spacing: 0.03em;
	-webkit-text-stroke: 1.3px var(--header-color);
}

span.break {
	display: inline-block;
	margin-inline: .37ch;
}

h2 {
	font-family: var(--thin-font);
	font-size: 1.2em;
	font-weight: 700;
	color: var(--red);
	text-shadow: var(--black-text-shadow);
}

/* =============================
		MAIN
	============================== */

#players-wrapper {
	display: flex;
	flex: 1 1;
	width: min(460px, 100%);
	column-gap: min(2.2vw, 1.5em);
	padding-inline: 1.5vw;
}

.player {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	align-self: center;
}

.player > p {
	font-size: 1em;
}

div.card-slot {
	display: flex;
	border: 3px dotted var(--black);
	border-radius: 15px;
	aspect-ratio: 5/7;
	padding: 0.16em 0.175em;
}

img.card-image {
	width: 100%;
}

/* =============================
		BUTTONS
	============================== */

/* Commented out for scrimba only */
/* div.button-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.6em;
} */

.btn {
	display: block;
	color: var(--white);
	font-family: var(--thin-font);
	font-size: 0.85rem;
	letter-spacing: 0.08em;
	word-spacing: 0.05em;
	text-shadow: var(--black-text-shadow);
	border: 1px solid #494949;
	border-radius: .9rem;
	transition: background 0.3s ease;
	background: linear-gradient(to bottom, var(--btn-color), color-mix(in srgb, var(--btn-color), black 65%));
	width: 100%;
	height: 46px;
	padding: .1em .25em;
	/* REMOVE - scrimba only */
	margin-top: .5rem;
}

.btn:hover {
	background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color), black 20%), color-mix(in srgb, var(--btn-color), black 64%));
}

.btn:active {
	transform: translateY(1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom, color-mix(in srgb, var(--btn-color), black 30%), color-mix(in srgb, var(--btn-color), black 74%));
}

#nav-wrapper > .btn {
	--btn-color: hsl(345, 39%, 18%);
	font-size: 0.825em;
	height: 66%;
	width: unset;
	-webkit-text-stroke: 0.01em var(--header-color);
	border-color: hsla(50, 100%, 65%, 0.8);
	border-radius: 5px;
	padding-inline: 1em;
	margin: 0;
}

.hidden {
	display: none !important;
}

/* =============================
		MEDIA QUERIES
	============================== */

@media (width > 560px) {

	body {
		padding-inline: 5vw;
	}

	header {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	h1 {
		font-size: clamp(8.2rem, 0.7rem + 21.5vw, 13.1em);
	}

	span.break {
		display: unset;
		margin: 0;
	}

	p.subheading {
		font-family: var(--title-font);
		font-size: clamp(3.6rem, 0.45em + 8.5vw, 5.4em);
		letter-spacing: unset;
		-webkit-text-stroke: unset;
		line-height: 0.9;
		margin: 0;
	}

	#players-wrapper {
		gap: 2rem;
		width: 90%;
	}

	div.card-slot {
		border-width: 4px;
	}

	.btn {
		font-size: 1.025rem;
		/* Commented out for scrimba only (but I don't think I liked this width, either)*/
		/* width: 15rem; */
		/* min-height: 55px; */
		margin-inline: auto;
	}
}

@media (min-aspect-ratio: 1/1) {
	:root {
		--medium-font-size: clamp(1.15rem, 0.2rem + 5.3vw, 2.3rem);
	}

	body {
		padding-block: 1.2.05vh;
		gap: 0.4em;
	}

	h1 {
		font-size: clamp(8.2rem, 0.7rem + 21.5vw, 7em);
	}

	p.subheading {
		font-size: clamp(3.6rem, 0.45em + 6.5vw, 3.8em);
	}

	#players-wrapper {
		width: min(700px, 80%);
		gap: 3rem;
	}

	.player {
		gap: 0;
	}

	footer {
		/* for scrimba */
		max-width: 600px;
	}
}

